<%- include('partials/header'); -%>
<link rel="stylesheet" type="text/css" href="/css/seatreservation.css">
<%- include('partials/nav'); -%>

<section class="breadcrumb breadcrumb_bg reserve_title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Seat Reservation</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="synopsis_part section_part reserve_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center">
                    <h2>Select Seats</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="seat col-sm-12 col-md-12 col-lg-7">
              <div><p class="title-screen">SCREEN</p></div>
              <table class="table table-responsive-md text-white text-center">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                  </tr>
                </thead>
                <tbody>
                  <form>
                  <tr>
                    <th scope="row" class="align-center">A</th>
                    <td class="p-1 m-0"><input id="A1" type="checkbox" value="A1"/></td>
                    <td class="p-1 m-0"><input id="A2" type="checkbox" value="A2"/></td>
                    <td class="p-1 m-0"><input id="A3" type="checkbox" value="A3"/></td>
                    <td class="p-1 m-0"><input id="A4" type="checkbox" value="A4"/></td>
                    <td class="p-1 m-0"><input id="A5" type="checkbox" value="A5"/></td>
                    <td class="p-1 m-0"><input id="A6" type="checkbox" value="A6"/></td>
                    <td class="p-1 m-0"><input id="A7" type="checkbox" value="A7"/></td>
                    <td class="p-1 m-0"><input id="A8" type="checkbox" value="A8"/></td>
                  </tr>
                  <tr>
                    <th scope="row">B</th>
                    <td class="p-1 m-0"><input id="B1" type="checkbox" value="B1"/></td>
                    <td class="p-1 m-0"><input id="B2" type="checkbox" value="B2"/></td>
                    <td class="p-1 m-0"><input id="B3" type="checkbox" value="B3"/></td>
                    <td class="p-1 m-0"><input id="B4" type="checkbox" value="B4"/></td>
                    <td class="p-1 m-0"><input id="B5" type="checkbox" value="B5"/></td>
                    <td class="p-1 m-0"><input id="B6" type="checkbox" value="B6"/></td>
                    <td class="p-1 m-0"><input id="B7" type="checkbox" value="B7"/></td>
                    <td class="p-1 m-0"><input id="B8" type="checkbox" value="B8"/></td>
                  </tr>
                  <tr>
                    <th scope="row">C</th>
                    <td class="p-1 m-0"><input id="C1" type="checkbox" value="C1"/></td>
                    <td class="p-1 m-0"><input id="C2" type="checkbox" value="C2"/></td>
                    <td class="p-1 m-0"><input id="C3" type="checkbox" value="C3"/></td>
                    <td class="p-1 m-0"><input id="C4" type="checkbox" value="C4"/></td>
                    <td class="p-1 m-0"><input id="C5" type="checkbox" value="C5"/></td>
                    <td class="p-1 m-0"><input id="C6" type="checkbox" value="C6"/></td>
                    <td class="p-1 m-0"><input id="C7" type="checkbox" value="C7"/></td>
                    <td class="p-1 m-0"><input id="C8" type="checkbox" value="C8"/></td>
                  </tr>
                  <tr>
                    <th scope="row">D</th>
                    <td class="p-1 m-0"><input id="D1" type="checkbox" value="D1"/></td>
                    <td class="p-1 m-0"><input id="D2" type="checkbox" value="D2"/></td>
                    <td class="p-1 m-0"><input id="D3" type="checkbox" value="D3"/></td>
                    <td class="p-1 m-0"><input id="D4" type="checkbox" value="D4"/></td>
                    <td class="p-1 m-0"><input id="D5" type="checkbox" value="D5"/></td>
                    <td class="p-1 m-0"><input id="D6" type="checkbox" value="D6"/></td>
                    <td class="p-1 m-0"><input id="D7" type="checkbox" value="D7"/></td>
                    <td class="p-1 m-0"><input id="D8" type="checkbox" value="D8"/></td>
                  </tr>
                  <tr>
                    <th scope="row">E</th>
                    <td class="p-1 m-0"><input id="E1" type="checkbox" value="E1"/></td>
                    <td class="p-1 m-0"><input id="E2" type="checkbox" value="E2"/></td>
                    <td class="p-1 m-0"><input id="E3" type="checkbox" value="E3"/></td>
                    <td class="p-1 m-0"><input id="E4" type="checkbox" value="E4"/></td>
                    <td class="p-1 m-0"><input id="E5" type="checkbox" value="E5"/></td>
                    <td class="p-1 m-0"><input id="E6" type="checkbox" value="E6"/></td>
                    <td class="p-1 m-0"><input id="E7" type="checkbox" value="E7"/></td>
                    <td class="p-1 m-0"><input id="E8" type="checkbox" value="E8"/></td>
                  </tr>
                   <tr>
                    <th scope="row">F</th>
                    <td class="p-1 m-0"><input id="F1" type="checkbox" value="F1"/></td>
                    <td class="p-1 m-0"><input id="F2" type="checkbox" value="F2"/></td>
                    <td class="p-1 m-0"><input id="F3" type="checkbox" value="F3"/></td>
                    <td class="p-1 m-0"><input id="F4" type="checkbox" value="F4"/></td>
                    <td class="p-1 m-0"><input id="F5" type="checkbox" value="F5"/></td>
                    <td class="p-1 m-0"><input id="F6" type="checkbox" value="F6"/></td>
                    <td class="p-1 m-0"><input id="F7" type="checkbox" value="F7"/></td>
                    <td class="p-1 m-0"><input id="F8" type="checkbox" value="F8"/></td>
                  </tr>
                   <tr>
                    <th scope="row">G</th>
                    <td class="p-1 m-0"><input id="G1" type="checkbox" value="G1"/></td>
                    <td class="p-1 m-0"><input id="G2" type="checkbox" value="G2"/></td>
                    <td class="p-1 m-0"><input id="G3" type="checkbox" value="G3"/></td>
                    <td class="p-1 m-0"><input id="G4" type="checkbox" value="G4"/></td>
                    <td class="p-1 m-0"><input id="G5" type="checkbox" value="G5"/></td>
                    <td class="p-1 m-0"><input id="G6" type="checkbox" value="G6"/></td>
                    <td class="p-1 m-0"><input id="G7" type="checkbox" value="G7"/></td>
                    <td class="p-1 m-0"><input id="G8" type="checkbox" value="G8"/></td>
                  </tr>
                   <tr>
                    <th scope="row">H</th>
                    <td class="p-1 m-0"><input id="H1" type="checkbox" value="H1"/></td>
                    <td class="p-1 m-0"><input id="H2" type="checkbox" value="H2"/></td>
                    <td class="p-1 m-0"><input id="H3" type="checkbox" value="H3"/></td>
                    <td class="p-1 m-0"><input id="H4" type="checkbox" value="H4"/></td>
                    <td class="p-1 m-0"><input id="H5" type="checkbox" value="H5"/></td>
                    <td class="p-1 m-0"><input id="H6" type="checkbox" value="H6"/></td>
                    <td class="p-1 m-0"><input id="H7" type="checkbox" value="H7"/></td>
                    <td class="p-1 m-0"><input id="H8" type="checkbox" value="H8"/></td>
                  </tr>
                   <tr>
                    <th scope="row">I</th>
                    <td class="p-1 m-0"><input id="I1" type="checkbox" value="I1"/></td>
                    <td class="p-1 m-0"><input id="I2" type="checkbox" value="I2"/></td>
                    <td class="p-1 m-0"><input id="I3" type="checkbox" value="I3"/></td>
                    <td class="p-1 m-0"><input id="I4" type="checkbox" value="I4"/></td>
                    <td class="p-1 m-0"><input id="I5" type="checkbox" value="I5"/></td>
                    <td class="p-1 m-0"><input id="I6" type="checkbox" value="I6"/></td>
                    <td class="p-1 m-0"><input id="I7" type="checkbox" value="I7"/></td>
                    <td class="p-1 m-0"><input id="I8" type="checkbox" value="I8"/></td>
                  </tr>
                  </form>
                </tbody>
              </table>
            </div>
            <div class="seat col-sm-12 col-md-12 col-lg-1">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 text-white" id="legend">
              <img src="/img/seat.png" class="card-img-top" alt="..."><span>Available</span><br>
              <img src="/img/reserved.png" class="card-img-top" alt="..."><span>Reserved</span><br>
              <img src="/img/selected.png" class="card-img-top" alt="..."><span>Chosen Seat</span><br>
              <p class="detail first"><span class="detail_label">Movie:</span> <%=schedule.movie.title%></p>
              <p class="detail"><span class="detail_label">Cinema:</span> <%=schedule.cinema.cinema%></p>
              <p class="detail">
              	<span class="detail_label">Time:</span>
              	<%var d = new Date(schedule.date);%>
                <%var dateOnly = d.toDateString();%>
                <%var startTime = d.toLocaleTimeString();%>
                <%var endTime = new Date(d.getTime() + (schedule.movie.duration * 60000)).toLocaleTimeString();%>
                <%-startTime.match(/\d+:\d+/)%>  
                <%-startTime.match(/\w{2}$/) %> -
                <%-endTime.match(/\d+:\d+/) %> 
                <%-endTime.match(/\w{2}$/)%>
             </p>
              <p class="detail"><span class="detail_label">Date:</span> <%-dateOnly.match(/\w+\s\d{2}\s\d{4}/g)%></p>
              <form class="form-inline">
                <div class="form-group">
                  <label for="count" class="detail_label">Number of seats: </label>
                  <input type="text" id="count" class="form-control mx-sm-3 text-white">
                </div>
              </form>
              <textarea class="form-control" id="selectedseat" rows="3" readonly></textarea>
              <hr>
              <!-- Botton modal trigger -->
              <button type="button" class="btn btn-block btn_1" id="reserveMe">
                RESERVE
              </button>
              <a type="button" class="btn btn-block btn_1" href="/movies">CANCEL</a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 text-white"></div>
          </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservation Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark">
        <form id="reservation-form" action="/<%=schedule._id %>/reserve" method="POST">
			<p class="detail first"><span class="detail_label">Movie:</span> <%=schedule.movie.title%></p>
			<p class="detail"><span class="detail_label">Cinema:</span> <%=schedule.cinema.cinema%></p>
			<p class="detail">
				<span class="detail_label">
					Time:
				</span>
				<%-startTime.match(/\d+:\d+/)%>  
				<%-startTime.match(/\w{2}$/) %> -
				<%-endTime.match(/\d+:\d+/) %> 
				<%-endTime.match(/\w{2}$/)%>
			</p>
			<p class="detail">
				<span class="detail_label">Date:</span> 
				<%-dateOnly.match(/\w+\s\d{2}\s\d{4}/g)%>
			</p>
			<div class="form-group">
				<label for="modalcount" class="detail">Number of seats: </label>
				<input type="text" id="modalcount" class="text-dark" name="seatCount" readonly>
			</div>
			<p class="detail" id="price"><%=schedule.cinema.price%></p>
			<p class="detail">
				<span class="detail_label">Total Amount</span>
			</p>
			<textarea class="form-control" name="seatsSelected" id="modalselectedseat" rows="3" readonly></textarea>
			<div class="modal-footer clearfix">
		        <button type="button" class="btn btn-danger float-left" data-dismiss="modal">CANCEL</button>
		        <button type="submit" form="reservation-form" class="btn btn-primary align-left" id="confirm">CONFIRM</button>
	      </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% var seatsTaken= []; %>
<% reserves.map(res => {return res.seats;}).forEach(arr => {seatsTaken = seatsTaken.concat(arr)}); %>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript">
  var r = <%- JSON.stringify(seatsTaken) %>;
  r.forEach( seat => {
    $("#"+seat).prop("disabled", true);
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/js/reserve.js"></script>